@{
    ViewBag.Title = "View";
}
<!DOCTYPE html>
<html>
    <body>
        <div>
            <h2>View</h2>
            @Html.TextBox("name")
            <input type="submit" onclick="CreatDoctorsAppointment()" value="Go" />
        </div>
        <div id="response">
            
        </div>
    </body>
</html>




